Стартовая страница!
<% if @weather.present? %>
 <div>
   Погода в вашем районе: <%= @weather.description %>, температура <%= @weather.temp %>
 </div>
<% else %>
  <%= form_with url: '/select_location', method: :post do |form|  %>
    <%= form.label :location, 'Где вы находитесь?' %>
    <%= form.text_field :location %>
    <%= form.submit 'Отправить'%>
  <% end %>
<% end %>

<div class="outfit-container">
  <% @outfits.each do |outfit| %>
   <%= render partial: 'outfit', object: outfit %>
  <% end %>
</div>

<div>
  У вас есть <%= @unrated.size %> неоценненных наборов одежды!
</div>